<h1>Lackluster Labs</h1>

<h4>Looking for less than inspirational quotes? We're the place for you.</h4>

<p>
  Let's get started:
</p>
<a href="/photos"class="waves-effect waves-light btn-large #e040fb purple accent-2">Randomize it!</a>
<a href="/"class="waves-effect waves-light btn-large #e040fb purple accent-2">Custom</a>
